<div class="m-5">
    <p>
      <td><%= link_to 'Atrás', employees_path, class: 'btn btn-secondary' %></td>
    </p>
  <h1 class="mb-4">Employees new form</h1>

  <% if @employee.errors.any? %>
    <h2>The following errors preventing articles to being saved</h2>
    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with scope: :employee, url: employees_path, local: true do |f| %>
    <p>
      <%= f.label "Primer nombre" %><br/>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label "Segundo Nombre" %><br/>
      <%= f.text_field :last_name %>
    </p>

    <p>
      <%= f.label "Número" %><br/>
      <%= f.number_field :email %>
    </p>

    <p>
      <%= f.label "Puesto" %><br/>
      <%= f.text_field :position %>
    </p>

    <p>
      <%= f.label "Área" %><br/>
      <%= f.text_field :area %>
    </p>

    <p>
      <%= f.label "Trabajando" %><br/>
      <%= f.select :working, ["true", "false"]  %>
    </p>

    <p>
      <%= f.submit "Crear", class: 'btn btn-success my-3'%>
    </p>


  <% end %>
</div>
