<div class="m-5">
    <h1>Employees show employees</h1>

    <div class="card mt-5 p-1" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title mb-3">Employee ID: <%=@employee.id %></h5>
            <p>Nombres: <%= @employee.first_name %></p>
            <p>Apellidos: <%= @employee.last_name %></p>
            <p>Posición: <%= @employee.position %></p>
            <p>Celular: <%= @employee.email %></p>
            <p>Trabajando: <%= @employee.working %></p>
        </div>
    </div>

    <p>
      <td><%= link_to 'Regresar', employees_path, class: 'btn btn-primary my-3' %></td>
    </p>

</div>
