<div class="m-5">
  <h1>Stores edit form</h1>

  <% if @store.errors.any? %>
    <h2>The following errors preventing articles to being saved</h2>
    <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with(model: @store, local: true) do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :address %><br/>
      <%= f.text_area :address %>
    </p>

    <p>
      <%= f.submit "Edit store", class: 'btn btn-success my-3'%>
    </p>

    <p>
      <td><%= link_to 'Cancel and return to store index', stores_path, class: 'btn btn-primary' %></td>
    </p>
  <% end %>
</div>
