<h1><%= @store.name %> - Reports here</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Employee id</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Check_in</th>
      <th scope="col">Check_out</th>
      <th scope="col">Show</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <th scope="row"><%= report.employee_id %></th>
        <th scope="row"><%= Employee.find(report.employee_id).first_name + ' ' + Employee.find(report.employee_id).last_name %></th>
        <td><%= report.check_in %></td>
        <td><%= report.check_out %></td>
        <td><%= link_to 'Show', employee_path(Employee.find(report.employee_id)), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <td><%= link_to 'Cancel and return to reports index', store_reports_path, class: 'btn btn-primary' %></td>
</p>
