<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ingredient.quantity %>
</p>

<%= link_to 'Editar', edit_ingredient_path(@ingredient), class: "btn btn-primary" %>
<%= link_to 'Volver', ingredients_path, class: "btn btn-primary" %>
