<h1>Add food to ticket ID:<%= @ticket.id %></h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <%= form_with(model: @ticket, url: ticket_path(@ticket), local: true, method: :put) do |f| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.price %></td>
        <td><%= food.type %></td>
        <td><%= f.button "Add food" , name: "dish", value: food.id, class: "btn btn-success" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<%= render 'form', ticket: @ticket %>

<%= link_to 'Show', @ticket %> |
<%= link_to 'Back', tickets_path %>
