<p id="notice"><%= notice %></p>

<div class="m-5">

  <ul class="nav mb-3">
    <li class="nav-item">
      <%= link_to 'Regresar', root_path, class:"btn btn-dark" %>
    </li>
  </ul>
  <h1 class="mb-5">Comidas / Bebidas</h1>
  <%= link_to 'Agregar', new_food_path, class: "btn btn-success mb-3" %>

  <div class="table1">
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <% if food.food_type == "Bebida"%>
              <td><%= food.quantity %> ml</td>
              <% else %>
              <td><%= food.quantity %> g</td>
              <% end %>
              <td>$<%= food.price %>MXN</td>
              <td><%= food.food_type %></td>
              <td><%= link_to 'Edit', edit_food_path(food), class: "btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>

  <br>

</div>
