<h1 class="my-2">Attendance Index</h1>

<p>
  <%= link_to 'Add new attendance', new_attendance_path, class: 'btn btn-primary my-3' %>
</p>

<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">Store ID</th>
          <th scope="col">Check-in</th>
          <th scope="col">Check-out</th>
          <th coolspan=3>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |attendance| %>
          <tr>
            <th scope="row"><%= attendance.employee_id %></th>
            <td><%= attendance.store_id %></td>
            <td><%= attendance.check_in %></td>
            <td><%= attendance.check_out %></td>
            <td><%= link_to 'Show Attendance', attendance_path(attendance.id), class: 'btn btn-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
